<section class="approved">
  <div class="container">
    <div class="approved__wrapper">
      <div class="approved-item">
        <div class="approved-item__label">ЗАМОВИТИ<br>
          ДЗВІНОК</div>
        <div class="approved-item__text">Натисніть кнопку “ДЗВІНОК” і наш співробітник зв'яжеться з вами для заповнення
          даних у телефонному режимі</div>
        <a href="#" class="approved-item__btn btn">Дзвінок</a>
      </div>
      <div class="approved-item">
        <div class="approved-item__label">ЗАПОВНИТИ АНКЕТУ САМОСТІЙНО</div>
        <div class="approved-item__text">Натисніть кнопку “АНКЕТА” та заповніть ДАНІ для отримання коштів</div>
        <a href="#" class="approved-item__btn btn">Анкета</a>
      </div>
    </div>
    <div class="approved__link">
      <a href="#" class="grey-link">Повернутися на головну</a>
    </div>
  </div>
</section>