<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-logo logo">
        <img src="img/logo-white.svg" alt="">
      </div>
    </div>
    <div class="footer__wrapper">
      <div class="footer-col footer-phone">
        <div class="footer-col__top">
          <div class="footer-col__label">Служба підтримки 24/7</div>
          <div class="footer-col__phone">
            <a href="#" class="footer-col__link phone-link">
              0 800 987 654 321
            </a>
            <div class="footer-col__phone-info">дзвінки з мобільних та стаціонарних телефонів безкоштовні
            </div>
          </div>
        </div>
      </div>
      <div class="footer-col footer-accord footer-accord__opened">
        <div class="footer-col__label">Кредитування</div>
        <ul class="footer-col__list">
          <li class="footer-col__elem">
            <a href="#" class="footer-col__link">Як отримати кредит</a>
          </li>
          <li class="footer-col__elem">
            <a href="#" class="footer-col__link">Усе про кредити</a>
          </li>
          <li class="footer-col__elem">
            <a href="#" class="footer-col__link">Як погасити кредит</a>
          </li>
          <li class="footer-col__elem">
            <a href="#" class="footer-col__link">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="footer-col footer-company footer-accord footer-accord__opened">
        <div class="footer-col__label">Компанія</div>
        <ul class="footer-col__list">
          <li class="footer-col__elem">
            <a href="#" class="footer-col__link">О компанії</a>
          </li>
          <li class="footer-col__elem">
            <a href="#" class="footer-col__link">Правова інформація</a>
          </li>
          <li class="footer-col__elem">
            <a href="#" class="footer-col__link">Акції</a>
          </li>
          <li class="footer-col__elem">
            <a href="#" class="footer-col__link">Новини</a>
          </li>
        </ul>
      </div>
      <div class="footer-col footer-app">
        <div class="footer-col__label">Наш додаток</div>
        <div class="footer-col__app-links">
          <a href="#" class="app-links__link">
            <img src="img/icon/app-store.svg" alt="AppStore">
          </a>
          <a href="#" class="app-links__link">
            <img src="img/icon/google-play.svg" alt="GooglePlay">
          </a>
        </div>
      </div>
      <div class="footer-col footer-col_social">
        <div class="footer-col__label">Ми у соціальних мережах</div>

        <div class="footer-social">
          <a href="" class="footer-social__link">
            <img src="img/icon/fb.svg" alt="">
          </a>
          <a href="" class="footer-social__link">
            <img src="img/icon/telegram.svg" alt="">
          </a>
          <a href="" class="footer-social__link">
            <img src="img/icon/wp.svg" alt="">
          </a>
          <a href="" class="footer-social__link">
            <img src="img/icon/instagram.svg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="footer-copy">
      <div class="footer-copy__text">Мінімальна сума кредиту становить 1 000 грн, максимальна сума кредиту – 500 000
        грн. Мінімальний строк кредиту – 6 місяців, максимальний – 60 місяців. Реальна річна процентна ставка залежить
        від розміру й строку кредиту та може складати від 68,26% до 231,24% річних. Детальна інформація на tascombank.ua
        або за номером телефону 0 800 503 580, цілодобово (дзвінки з номерів національних операторів на території
        України безкоштовно). Тільки для повнолітіх.
      </div>
      <div class="footer-copy__info">
        <span>2019 © TASCOMBANK.UA</span>
        <span>ЛІЦЕНЗІЯ НБУ №84 ВІД 25.10.2011</span>
      </div>
    </div>
  </div>
</footer>