<section class="form-questions">
  <div class="container">
    <div class="form-questions__wrapper">
      <div class="form-questions__form">
        <form action="#">
          <h3 class="form-questions__title section-title">У вас залишились питання?</h3>
          <div class="form-questions__info">Напишіть нам і ми зв'яжемося з вами протягом 30 хвилин</div>
          <div class="form-questions__inner">
            <div class="form-questions__body">
              <div class="input-block form-questions__input">
                <div class="input-block__label">Ваше им’я</div>
                <div class="input-block__input">
                  <input name="name" type="text">
                </div>
              </div>
              <div class="input-block form-questions__input">
                <div class="input-block__label">Особистий телефон</div>
                <div class="input-block__input">
                  <input name="phone" type="text">
                </div>
              </div>
              <button type="submit" class="form-questions__btn btn">Відправити повідомлення</button>
            </div>
          </div>
        </form>
      </div>
      <div class="form-questions__img">
        <img src="img/question-img.png" alt="">
      </div>
    </div>
  </div>
</section>