<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__burger">
        <div class="burger__icon icon-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="header__logo">
        <img src="img/logo.svg" alt="logo">
      </div>
      <nav class="header__nav nunito">
        <ul class="header__list">
          <li class="header__list-elem active">
            <a href="#" scroll-href="#instruction" class="header__link">Як отримати кредит?</a>
          </li>
          <li class="header__list-elem">
            <a href="#" scroll-href="#parameters" class="header__link">Про продукт</a>
          </li>
          <li class="header__list-elem">
            <a href="#" scroll-href="#form-questions" class="header__link">Питання</a>
          </li>
        </ul>
      </nav>
      <div class="header__call">
        <button class="header__call-btn btn btn-transparent">
          <span>Дзвінок</span>
          <img src="img/icon/phone-call.svg" alt="" class="header__call-icon">
        </button>
        <div class="header__call-service">
          <div class="header__call-label">Служба підтримки 24/7</div>
          <a href="tel:0800503580" class="header__call-phone">0 (800) 503 580</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu">
    <div class="container mobile-menu__container">
      <div class="header__call-service header__call-service_mob">
        <div class="header__call-label">Служба підтримки 24/7</div>
        <a href="tel:0800503580" class="header__call-phone">0 (800) 503 580</a>
      </div>
    </div>
  </div>
</header>