<section id="instruction" class="instruction">
  <div class="container">
    <div class="instruction__head">
      <h3 class="instruction__title section-title">Як отримати кредит готівкою </h3>
      <div class="instruction__text">
        <p>Жодних черг за довідками та бюрократії – щоб отримати кредит, вам потрібно пройти 3 простих кроки</p>
      </div>
    </div>
    <div class="instruction__wrapper">
      <div class="instruction-item">
        <div class="instruction-item__icon">
          <img src="img/instruction/icon_1.svg" alt="">
        </div>
        <div class="instruction-item__content">
          <div class="instruction-item__label">Заповніть<br> коротку форму</div>
          <div class="instruction-item__text">Вкажіть ПІБ, ваш контактний номер телефону та ІПН</div>
        </div>
      </div>
      <div class="instruction-item">
        <div class="instruction-item__icon">
          <img src="img/instruction/icon_2.svg" alt="">
        </div>
        <div class="instruction-item__content">
          <div class="instruction-item__label">Наш співробітник зателефонує вам</div>
          <div class="instruction-item__text">Наш співробітник протягом 3 хвилин зв'яжеться з вами та заповнить заявку
          </div>
        </div>
      </div>
      <div class="instruction-item">
        <div class="instruction-item__icon">
          <img src="img/instruction/icon_3.svg" alt="">
        </div>
        <div class="instruction-item__content">
          <div class="instruction-item__label">Отримайте<br> кредит</div>
          <div class="instruction-item__text">Підготуйте паспорт та ІПН та отримуйте кредит!</div>
        </div>
      </div>
    </div>
    <button class="instruction__submit-btn btn" data-popup="#popup__login">Подати заявку</button>
  </div>
</section>