<section class="parameters">
  <div class="container">
    <h2 class="parameters__title section-title">параметри продукту</h2>
    <div class="parameters__wrapper">
      <div class="parameters-item">
        <div class="parameters-item__icon">
          <img src="img/parameters/icon_1.svg" alt="">
        </div>
        <div class="parameters-item__content">
          <div class="parameters-item__label">Сума кредиту</div>
          <div class="parameters-item__text">від 1 000,00 до 500 000,00 грн</div>
        </div>
      </div>
      <div class="parameters-item">
        <div class="parameters-item__icon">
          <img src="img/parameters/icon_2.svg" alt="">
        </div>
        <div class="parameters-item__content">
          <div class="parameters-item__label">Схема погашення</div>
          <div class="parameters-item__text">Ануїтет</div>
        </div>
      </div>
      <div class="parameters-item">
        <div class="parameters-item__icon">
          <img src="img/parameters/icon_3.svg" alt="">
        </div>
        <div class="parameters-item__content">
          <div class="parameters-item__label">Валюта</div>
          <div class="parameters-item__text">Гривня</div>
        </div>
      </div>
      <div class="parameters-item">
        <div class="parameters-item__icon">
          <img src="img/parameters/icon_4.svg" alt="">
        </div>
        <div class="parameters-item__content">
          <div class="parameters-item__label">Строк кредитування</div>
          <div class="parameters-item__text">6, 12, 24, 36, 48, 60 міс</div>
        </div>
      </div>
      <div class="parameters-item">
        <div class="parameters-item__icon">
          <img src="img/parameters/icon_5.svg" alt="">
        </div>
        <div class="parameters-item__content">
          <div class="parameters-item__label">Процентна ставка за кредитом</div>
          <div class="parameters-item__text">0,01% річних</div>
        </div>
      </div>
      <div class="parameters-item">
        <div class="parameters-item__icon">
          <img src="img/parameters/icon_6.svg" alt="">
        </div>
        <div class="parameters-item__content">
          <div class="parameters-item__label">Без страховки та поручителів</div>
          <div class="parameters-item__text">без додаткових витрат часу</div>
        </div>
      </div>
    </div>
  </div>
</section>