<section class="rates-doc">
  <div class="container">
    <h3 class="rates-doc__title section-title">Тарифи та документи</h3>
    <div class="rates-doc__wrapper">
      <div class="rates-doc__tabs aside-tabs">
        <a href="#" class="aside-tabs__item active">Інформація для споживача</a>
        <a href="#" class="aside-tabs__item">Тарифи</a>
        <a href="#" class="aside-tabs__item">Форми договорів</a>
        <a href="#" class="aside-tabs__item">Статутні документи</a>
      </div>
      <div class="rates-doc__inner">
        <div class="rates-doc__body show">
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Форми договорів корпоративного бізнесу</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Форми договорів для МСБ</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Документи та форми договорів для тебе</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Архів</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="rates-doc__body">
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Форми договорів корпоративного бізнесу</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Форми договорів для МСБ</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Документи та форми договорів для тебе</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Архів</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="rates-doc__body">
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Форми договорів корпоративного бізнесу</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Форми договорів для МСБ</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Документи та форми договорів для тебе</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Архів</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="rates-doc__body">
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Форми договорів корпоративного бізнесу</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Форми договорів для МСБ</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Документи та форми договорів для тебе</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
          <div class="rates-doc__item">
            <div class="rates-doc__icon">
              <img src="img/icon/pdf-icon.svg" alt="pdf">
            </div>
            <div class="rates-doc__content">
              <div class="rates-doc__name">Архів</div>
              <div class="rates-doc__handle">
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/eye.svg" alt="eye">
                  </div>
                  <span class="rates-doc__link-text">Переглянути</span>
                </a>
                <a href="#" class="rates-doc__link">
                  <div class="rates-doc__link-icon">
                    <img src="img/icon/pdf-icon.svg" alt="pdf">
                  </div>
                  <span class="rates-doc__link-text">Завантажити</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>