<section class="repay">
  <div class="container">
    <h2 class="repay__title section-title">оплачуй зручно</h2>
    <div class="repay__inner">
      <div class="repay__item">
        <div class="repay__item-wrapper">
          <div class="repay__item-content">
            <div class="repay__item-title">Картою</div>
            <div class="repay__item-text">Ти можеш погасити кредит онлайн не виходячи з дому.
              Просто перейди в Особистий кабінет і оплати його банківською карткою.</div>
            <div class="repay__item-icon">
              <a href="#">
                <img src="img/repay/visa.svg" alt="">
              </a>
              <a href="#">
                <img src="img/repay/mastercard.svg" alt="">
              </a>
              <a href="#">
                <img src="img/repay/prostir.svg" alt="">
              </a>
            </div>
          </div>
          <div class="repay__item-images">
            <img src="img/repay/macbook.png" alt="">
          </div>
        </div>
      </div>
      <div class="repay__item">
        <div class="repay__item-wrapper">
          <div class="repay__item-content">
            <div class="repay__item-title">готівкою</div>
            <div class="repay__item-text">Оплата кредиту в терміналі-
              це швидко і зручно.
              Ти зможеш знайти термінал в найближчих супермаркетах.</div>
            <!-- <div class="repay__item-icon">
                <a href="#">
                  <img src="img/city.png" alt="">
                </a>
                <a href="#">
                  <img src="img/ibox.png" alt="">
                </a>
                <a href="#">
                  <img src="img/easypay.png" alt="">
                </a>
              </div> -->
          </div>
          <div class="repay__item-images">
            <img src="img/repay/Mask.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>